*{ padding: 0; margin: 0; border: none; overflow: hidden; }
ul{ list-style: none; }
html{ width: 100%; height: 100%; }


/*loading页*/
.loadingBackground{ display: none; background: white; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.loadingBox{ width: 60%; height: 300px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center; }
.birdFly{ width: 80px; height: 58px; margin: 40px auto; }
.progressBarBox{ box-sizing: border-box; width: 100%; height: 40px; border: 4px solid #a4795d; }
.progressBar{ width: 0; height: 32px; background: #a4795d; }
.loadingText{ margin-top: 20px; font-size: 50px; color: #a4795d; font-family: Arial; }

/*主菜单*/
.mainMenuBox{ background: url('img/main_menu_bg.png') no-repeat; background-size: 100% 100%; width: 270px; height: 350px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center; padding: 4%; box-sizing: border-box;}
.mainMenuBox .levelLabel{ background: url('img/level_label.png') no-repeat; background-size: 100% 100%; width: 162px; height: 16px; margin: auto; margin-top: 12px; }
.mainMenuBox ul li{ width: 156px; margin: 12px auto; }
.mainMenuBox .levelButton{  height: 48px; cursor: pointer; }
.mainMenuBox .easyLevel{ background: url('img/level_easy_btn.png') no-repeat; background-position: 0 0; background-size: 100%; }
.mainMenuBox .normalLevel{ background: url('img/level_normal_btn.png') no-repeat; background-position: 0 -48px; background-size: 100%; }
.mainMenuBox .hardLevel{ background: url('img/level_hard_btn.png') no-repeat; background-position: 0 0; background-size: 100%; }
.mainMenuBox .cutting_line{ height: 2px; background: url('img/cutting_line.png' ) no-repeat; background-position: center; background-size: auto; margin: 20px auto; }
.mainMenuBox .startGame{  height: 56px; background: url('img/start_game_btn.png') no-repeat; background-size: 100%; }